{{ partial "head.html" . }}
<body>

{{ partial "sidebar.html" . }}
   <div class="content container">
<div class="posts">

      {{ range .Data.Pages }}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h1>
    <div class="post">
       <img src="./Elan.jpg" alt="lelele" height="500" width="500"> 
       
    <img src="./boulbi.jpg" alt="swag">
</div>
    <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>

    {{ .Content }}
  </div>
  {{ end }}
</div>
</div>

  </body>
</html>
